{
    "presets": [
        ["latest", {"modules": false}]
    ],
    "env": {
        "production": {
            "plugins": ["transform-runtime"]
        },
        "test": {
            "plugins": [
                ["transform-runtime", {
                    "polyfill": false
                }]
            ],
            "sourceMaps": "inline"
        }
    }
}
